<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
    <testsuite name="controller">
        <file>controller/TestIndexController.php</file>
        <file>controller/TestUserController.php</file>
    </testsuite>
</testsuites>

<logging>
    <log type="coverage-html" target="report" charset="UTF-8"/>
</logging>
</phpunit>