[common]
application.directory   = APP_PATH  ;应用程序的目录，包含"controllers", "views", "models", "plugins"等子目录。
application.modules     = Home,Admin,Api    ;允许模块名称
application.dispatcher.defaultRoute = static    ;默认路由，如果未指定，静态路由会被当做是默认路由，参见： Yaf\Router::addRoute()。
application.dispatcher.catchException = 0   ;在application.dispatcher.throwException开启的状态下, 是否启用默认捕获异常机制,默认关闭状态。开启此项，如果有未捕获的异常，Yaf将会把它定向到Error controller, Error Action。参见 Yaf_Dispatcher::cat
                                            chException()。
application.dispatcher.throwException = 0 ;切换在Yaf出错的时候抛出异常, 还是触发错误.默认的是开启状态.开启此项，Yaf会在发生错误的地方抛出异常。参见 Yaf\Dispatcher::throwException()。

; Layout
application.library = APP_PATH "/library"   ;本地库路径
;application.library.directory = APP_PATH "/library" ;本地库路径
;application.library.namespace = “Core,Base” ;开启本地命名空间前缀,逗号分隔的本地类库命名空间前缀。
;application.bootstrap = APP_PATH . "/Bootstrap" . application.ext ;Bootstrap类脚本文件的绝对路径。
application.layoutpath = APP_PATH "/views/"
application.document = "layout.phtml"
application.cache_config = 0
application.view.ext = "phtml"  ;视图模板扩展名。
;application.ext="php" ;PHP脚本的扩展名，类的自动加载需要用到它( Yaf\Loader)。

; App
;application.baseUri = ''
application.dispatcher.defaultController = index
application.dispatcher.defaultAction = index

; 生产环境
[product : common]
application.showErrors = 0
application.throwException = 0
application.dispatcher.catchException = 0
application.dispatcher.throwException = 0
log.type = syslog
log.host = 192.168.1.1
loh.port = 5141

; 测试环境
[test : common]
;errors (see Bootstrap::initErrors)
application.showErrors = 0
application.throwException = 0
application.dispatcher.catchException = 0
application.dispatcher.throwException = 0

; 开发环境
[develop : common]
application.debug = 1
;errors (see Bootstrap::initErrors)
application.showErrors = 1
application.throwException = 1
application.dispatcher.catchException = 1
application.dispatcher.throwException = 1

; queue
queue.type = redis
queue.name = default
queue.redis = default
queue.keyname = queues:default

; cache
cache.type = redis
cache.redis = default

; Redis
redis.default.host = 192.168.0.241
redis.default.port = 6379
redis.default.timeout = 30

; Database Read-Write
db.default.driver     = mysql
db.default.host       = 127.0.0.1
db.default.database   = business
db.default.username   = root
db.default.password   = 123456
db.default.port       = 3306
db.default.charset    = utf8
db.default.collation  = utf8_unicode_ci
db.default.prefix     = ""

; Database Readonly
db.default_read.driver     = mysql
db.default_read.host       = 127.0.0.1
db.default_read.database   = business
db.default_read.username   = root
db.default_read.password   = 123456
db.default_read.port       = 3306
db.default_read.charset    = utf8
db.default_read.collation  = utf8_unicode_ci
db.default_read.prefix     = ""

; Log
log.level = debug
log.channel = business
log.file.dir = APP_ROOT "/storage/logs"
; log.syslog.host = 127.0.0.1
; log.syslog.port = 9999
