[common]
application.directory   = APP_PATH
application.modules     = Home,Admin,Api
application.dispatcher.defaultRoute = static
application.dispatcher.catchException = 0

; Layout
application.library = APP_PATH "/library"
application.layoutpath = APP_PATH "/views/"
application.document = "layout.phtml"
application.cache_config = 0
application.view.ext = "phtml"

; App
;application.baseUri = ''
application.dispatcher.defaultController = index
application.dispatcher.defaultAction = index

; 生产环境
[product : common]
application.showErrors = 0
application.throwException = 0
log.type = syslog
log.host = 192.168.1.1
loh.port = 5141

; 测试环境
[test : common]
;errors (see Bootstrap::initErrors)
application.showErrors = 0
application.throwException = 0

; 开发环境
[develop : common]
application.debug = 1
;errors (see Bootstrap::initErrors)
application.showErrors = 1
application.throwException = 1

; queue
queue.type = redis
queue.name = default
queue.redis = default

; cache
cache.type = memcached
;cache.redis = default

; Memcached
memcached.0.host    = 127.0.0.1
memcached.0.port    = 11211
memcached.0.weight  = 50
memcached.1.host    = 127.0.0.1
memcached.1.port    = 11211
memcached.1.weight  = 5

; Redis
redis.default.host = 127.0.0.1
redis.default.port = 6379

; Database Read-Write
db.default.driver     = mysql
db.default.host       = 127.0.0.1
db.default.database   = business
db.default.username   = root
db.default.password   = 123456
db.default.port       = 3306
db.default.charset    = utf8
db.default.collation  = utf8_unicode_ci
db.default.prefix     = ""

; Database Readonly
db.default_read.driver     = mysql
db.default_read.host       = 127.0.0.1
db.default_read.database   = business
db.default_read.username   = root
db.default_read.password   = 123456
db.default_read.port       = 3306
db.default_read.charset    = utf8
db.default_read.collation  = utf8_unicode_ci
db.default_read.prefix     = ""

; Log
log.level = debug
log.channel = business
log.file.dir = APP_ROOT "/storage/logs"
; log.syslog.host = 127.0.0.1
; log.syslog.port = 9999

; upload
; maxSize 3M
upload.config.maxSize   = 3145728
upload.config.rootPath  = APP_ROOT "/public/uploads"
upload.config.savePath  = "/documents/"
